body {
    background-color:#F5F5F5;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

a:hover {
    color:red;
}
/*----------------------------------------------

  Table

----------------------------------------------*/
table {
    border-collapse:collapse;
}
.tab1  {
    border:solid 2px #006983;
    background-color:#fff;
}
.tab1 caption {
    color:#fff;
    background-color:#33879C;
    border:solid 2px #214149;
    margin: 4px 0;
    font-weight:bold;
    padding:6px 0;
}
.tab1 th, 
.tab1 td {
    border-right:solid 1px #006983;
    border-bottom:solid 1px #006983;
    padding:4px 8px;
}
.tab1 th, tr.title {
    border-left:solid 1px #006983;
    background-color:#D4E1E5;
    text-align:left;
}
.tab1 th {
    font-weight:normal;
    color:#006983;
}
table.tab1 tr.header th {
    border-left:solid 1px #006983;
    background-color:#006983;
    text-align:left;
    color:#d3d3d3;
}
.tab1 th.sep {
    width:10px;
    background-color:#F5F5F5;
    border-width:0;
    border-left-width:4px;
    border-right-width:4px;
}

.tab1 tr:hover td {
    background-color:#EFEFEF;
}
.tab1 tr:hover td.expire {
    background-color:#E9B36A;
}

.tab1 tr:hover th {
    background-color:#B5D2DB;
}
/* ------------------------------------------ */

.tab2  {
    border:solid 2px #006983;
    background-color:#fff;
    font-size:80%;
}
.tab2 th.title {
    background-color:#93ACB4;
}
td.expire table,
td.expire th, 
td.expire td {
    border-color:#dfdfdf;
}
td.expire th {
    background-color:#F3F1EE;
    color:gray;
}

/* ------------------------------------------ */

span.expire {
    padding:0 4px;
}
.expire {
    color:#EB1D00;
    background-color:#FBE0BC;
}
.newval {
    color:#4E964E;
}

.footnote {
    font-size:80%;
}
.notimportant {
    font-size:80%;
    color:#888;
}
pre.pgpkey {
 font-size:80%;
 background: #f7f7f7;
 border: 1px solid #d7d7d7;
 padding: .25em;
 overflow: auto; 
 height:80px;
 width:80%;
}

.info {
    font-size:90%;
    color:orange;
    margin-left:1em;
}
.info a {
    color:darkorange;
}
.info:hover, .info a:hover {
    color:darkred;
}

.direction a {
    font-size:80%;
    color:#fff;
    background-color:#33879C;
    padding:0 10px;
}
.direction a {
    text-decoration:none;
}
.direction a:hover {
    background-color:orange;
}